# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site settings
locale                   : "en-US"
title                    : "Shivvrat Arya"
title_separator          : "-"
name                     : &name "Shivvrat Arya"
email: shivvrat.arya@njit.edu
description              : &description "Assistant Professor, NJIT Director of [ARIA Lab](https://aria-research-lab.github.io/)"
#description: Academic webpage of Dr. Shivvrat Arya
baseurl: ""
url                      : ""
#url                      : "https://shivvrat.github.io/"
repository               : "Shivvrat/shivvrat.github.io"
github:
  url: "https://shivvrat.github.io/"

twitter:
  username               : "ShivvratA"
# Google analytics ID: Remove or use your own!
#google_analytics: UA-167467135-1
google_analytics: G-9JMYG0Z6M7
google_tag_manager: GTM-WNDXK54
# Help - https://desiredpersona.com/google-analytics-jekyll/
# Footer info
affiliation: >
    Shivvrat Arya<br/>
    Assistant Professor, Director of [ARIA Lab](https://aria-research-lab.github.io/)<br/>
    <a href="https://cs.njit.edu/" target="_blank">Department of Computer Science</a><br/>
    New Jersey Institute of Technology

location: >
  GITC 4304<br/>
  <a href="https://cs.njit.edu/" target="_blank">Department of Computer Science</a><br/>
  Ying Wu College of Computing<br/>
  New Jersey Institute of Technology <br/>
  Newark, NJ 07102

contact: >
    <a href="mailto:shivvrat.arya@njit.edu" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact Dr. Arya via email</a> <br/>
#    <a href="/aboutwebsite.html"><i class="fa fa-github fa-1x"></i> Use this site as a template!</a>

# Do you want to group your publications by year? {true/false}
group_pub_by_year: true

# Pages shown in navbar
nav_pages:
  - name: about
  - name: hiring
  - name: publications
  - name: research
  - name: grants
  - name: talks
  - name: software
  - name: teaching
  - name: services
  - name: resources
  - name: gallery
  # - name: blog
# - name: team

include:
  - .htaccess
  - _pages
  - _pages/hiring

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true
  html_to_native: true

# Site Author
author:
  name             : "Shivvrat Arya"
  avatar           : "Shivvrat_Arya_headshot.jpg"
  bio              : "Assistant Professor, NJIT and Director of <a href='https://aria-research-lab.github.io/'>ARIA Lab</a>"
  location         :
  employer         :
  pubmed           :
  orcid            : "http://orcid.org/0000-0002-9727-2533"
  googlescholar    : "https://scholar.google.com/citations?user=eM1co-kAAAAJ&hl=en"
  email            : "shivvrat.arya@njit.edu"
  researchgate     : "https://www.researchgate.net/profile/Shivvrat-Arya"
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         :
  foursquare       :
  github           : "Shivvrat"
  gitlab           :
  google_plus      :
  keybase          :
  instagram        :
  impactstory      : #"https://profiles.impactstory.org/u/xxxx-xxxx-xxxx-xxxx"
  lastfm           :
  linkedin         : "shivvrat"
  pinterest        :
  soundcloud       :
  stackoverflow    : #"https://stackoverflow.com/users/10912314/jayrobwilliams"
  steam            :
  tumblr           :
  twitter          : "ShivvratA"
  vine             :
  weibo            :
  xing             :
  youtube          :
  wikipedia        :





# Defaults
#defaults:
#  # _posts
#  - scope:
#      path: ""
#      type: posts
#    values:
#      layout: single
#      author_profile: true
#      read_time: true
#      comments: true
#      share: true
#      related: true

permalink: /:categories/:title/

plugins:
  - jekyll/scholar
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  # - jekyll-gallery-generator

plugins_dir: [jekyll-scholar]
group_pub_by_year: true
scholar:
# https://github.com/inukshuk/jekyll-scholar

  bibliography_template: bibtemplate
  last_name: Arya
  first_name: [Shivvrat, S.]

  style: apa
  locale: en

  source: /cv/
  bibliography: ref.bib
  # layout: reference.html
  sort_by: year, month
  order: descending
  # replace_strings: true
  # join_strings: true
  # group_by: year
  group_order: descending
  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"
  
  # Advanced filtering options
  type_names:
    inproceedings: "Conference Papers"
    article: "Journal Articles"  
    unpublished: "Preprints & Technical Reports"
    phdthesis: "Doctoral Dissertations"
    mastersthesis: "Master's Theses"
    book: "Books"
    incollection: "Book Chapters"

  # Custom field mappings for filtering
  replace_strings: true
  join_strings:    true
  
  # Enable year-based filtering
  year_limit: 50
  

  # bibliography_list_attributes:
  #   reversed: False

color-scheme: auto

last_updated: true # set to true if you want to display last updated in the footer

# code highlighter theme
highlight_theme_light: github   # https://github.com/jwarby/jekyll-pygments-themes
highlight_theme_dark: native    # https://github.com/jwarby/jekyll-pygments-themes

# repo color theme
repo_theme_light: default       # https://github.com/anuraghazra/github-readme-stats/blob/master/themes/README.md
repo_theme_dark: dark           # https://github.com/anuraghazra/github-readme-stats/blob/master/themes/README.md

# Gallery Details
gallery:
  dir: photos               # Path to the gallery
  symlink: false            # false: copy images into _site. true: create symbolic links (saves disk space)
  title: "Photos"           # Title for gallery index page
  title_prefix: "Photos: "  # Title prefix for gallery pages. Gallery title = title_prefix + gallery_name
  sort_field: "date_time"   # How to sort galleries on the index page.
                            # Possible values are: title, date_time, best_image
  thumbnail_size:
    x: 400                  # max width of thumbnails (in pixels)
    y: 400                  # max height of thumbnails (in pixels)
  # The following options are for individual galleries.
  galleries:
    ptg22:
      best_image: ptg.jpg  # The image to show on the gallery index page. Defaults to the last image.
      name: "DARPA PTG PI Meeting 2022" # Info fields can be used in custom templates.



exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .Rproj.user
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gruntfile.js
  - LICENSE
  - README
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor