<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm-4">
		    <h2 class="footer-heading">About</h2>
            <p>{{ site.data.pi[0].affiliation_html }}</p>
		</div>

		<div class="col-sm-4">
		    <h2 class="footer-heading">Contact</h2>
            <p>{{ site.data.pi[0].contact_html }}</p>
		</div>

		<div class="col-sm-4">
		    <h2 class="footer-heading">Coordinates</h2>
            <p>{{ site.data.pi[0].location_html }}</p>
		</div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>

