/* Increase the maximum width and padding of the content area */
.container-fluid {
  max-width: 70%;
  padding: 10px 20px;
  /* Reduced padding for mobile phones */
}

/* Media query for devices with a minimum width of 992px (e.g., laptops) */
@media (min-width: 992px) {
  .container-fluid {
    padding: 20px 40px;
    /* Increased padding for laptops */
  }
}
/* do not show numbering for bibliography */
ol.bibliography {
  list-style-type: none;
}

/* Adjust row and columns for more space */
/* .row {
  margin-right: -15px;
  margin-left: -15px;
}

.row>[class*='col-'] {
  padding-right: 15px;
  padding-left: 15px;
} */