---
layout: default
---
<link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}">

<div class="col-sm-12">
  {% for member in site.data.pi %}
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-4">
          <img src="{{ site.url }}{{ site.baseurl }}/images/teampic/{{ member.photo }}" width="100%" style="max-width:250px"/>
        </div>
        <div class="col-sm-8 col-xs-12">
          <h3>{{ member.name }}</h3>
          <h4><i>{{ member.info }}</i></h4>
          {% include social_buttons.html member=member %}

          <ul class="education-list" style="overflow: hidden">
          {% if member.number_educ >= 1 %}
            <li>{{ member.education1 | replace: "-","&#8211;" }}</li>
          {% endif %}
          {% if member.number_educ >= 2 %}
            <li>{{ member.education2 | replace: "-","&#8211;" }}</li>
          {% endif %}
          {% if member.number_educ >= 3 %}
            <li>{{ member.education3 | replace: "-","&#8211;" }}</li>
          {% endif %}
          {% if member.number_educ >= 4 %}
            <li>{{ member.education4 | replace: "-","&#8211;" }}</li>
          {% endif %}
          {% if member.number_educ >= 5 %}
            <li>{{ member.education5 | replace: "-","&#8211;" }}</li>
          {% endif %}
          {% if member.number_educ >= 6 %}
            <li>{{ member.education6 | replace: "-","&#8211;" }}</li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  {{ content }}
</div>